{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Filter Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <style>

        </style>
    </head>
     <!-- create varible in template-->
    <body>
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" name="ser1" placeholder="Title contains..." />
                <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {% if cou1 %}
        <p>Find {{cou1}} Product</p>
        {% endif %}
        
        {% if qs_error %}
        <p>{{qs_error}} </p>
        {% endif %}
        
        {% for i in queryset %}
        <h4>{{i.product_name}}</h4>
        <h4>{{i.price}}</h4>
        <h4>{{i.p_type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>{{i.pub_date}}</p> </h4>
            <hr style="height:2px;border-width:0;color:black;background-color:gray">
        {% endfor %}

       

        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
    
</html>
<!-- template variable and access  -->
<!-- {% with name="World" su="patel" gu="good"  a=19 b=7 %} 
        <p>{{ m|random }}</p>
        <h3>{{name}}{{su}}{{gu}}</h3>
        <h3>{{a | add:b}}</h3> 
        {% endwith %}
        {% with img="images/cam1.jpg"  %}
        <h1>--{{img}}</h1><p>{{ful}}</p>
        <img src='{% static "images/cam1.jpg" %}' style="height: 200px;width: 200px;float: left;"></img>
        <img src='{% static "{{img}}" %}' style="height: 200px;width: 200px;float: left;"></img>
        {% endwith %} -->