<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
        <body>
            

            {% if done %}
            <div class="alert alert-success" role="alert">
                <h2>{{done}}</h2>
                <a href="{% url 'index' %}"> go to home </a>
          </div>
        {% endif %}

            <form method="POST" enctype="multipart/form-data"  >
                {% csrf_token %}
                <p> enter email </p>
                <input type="text" name="email" placeholder="email..">
                <button type="submit/insert" name="email1" value="insert name"  class="btn btn-success">
                send</button>
        </form> 
        <hr style="height: 3px;color: black;background-color: black;">
        {% if otp %}
        <h3> enter otp</h3>
        <form method="POST" enctype="multipart/form-data"  >
            {% csrf_token %}
            <p> enter email </p>
            <input type="text" name="otp" placeholder="otp..">
            <button type="submit/insert" name="otp1" value="insert name"  class="btn btn-success">
            submit</button>
        </form> 
        <hr style="height: 3px;color: black;background-color: black;">
        {% endif %}

        {% if not_user %}
        <p> {{not_user}}</p>
        {% endif %}

        {% if msg == "done" %}
        <h3>enter email and new password  </h3>
        <form method="POST" enctype="multipart/form-data"  >
            {% csrf_token %}
            <p> enter email and New Password Here.. </p>
            <input type="text" name="e1" placeholder="enter email..">
            <input type="text" name="c1" placeholder="change password..">
            <button type="submit/insert" name="change" value="insert name"  class="btn btn-success">
            submit</button>
        </form> 
        <hr style="height: 3px;color: black;background-color: black;">
        {% else %}
        <p> {{msg}}</p>
        {% endif %}

        

        <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        </body>
    </head>
</html>
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>hii</h1>
        {% for i in wish1 %}
  <h3>{{i.product_name}}...</h3>
  <h3>{{i.price}}</h3>
  <h3>{{i.desc}}</h3>
<hr>
{% endfor %}
    </body>
</html>